@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');


.contact-head{
font-size: 50px;
    font-weight: 400;
    font-family: 'Lugrasimo', cursive;
    filter: drop-shadow(0 0.5px 0.5px #fff);
    color: #60ffd9;
}

h3{
    font-family: 'Lugrasimo', cursive;
    color: #60ffd9;
    font-size: 20px;
    filter: drop-shadow(0 0.5px 0.5px #fff);
}

.mail{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.social-media {
    display: flex;
    justify-content: center;
}

.anchor {
    display: flex;
    background: #09172b;
    height: 75px;
    width: 75px;
    margin-left: 15px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0);
    transition: transform 0.5s;
}

.anchor i {
    font-size: 50px;
    color: #777;
    transition: transform 0.5s;
}
/* .anchor .fa-hashnode{
    font-size: 50px;
        color: #777;
        transition: transform 0.5s;
} */

.anchor:hover {
   background-color: #09172b;
    border: 1px solid rgba(0, 0, 0, 0.01);
    transform: translateY(2px);
}

.anchor:hover i {
    transform: scale(0.9);
}

.anchor:hover .fa-quora {
    color: #f14843;
}

.anchor:hover .fa-twitter {
    color: #00acee;
}

.anchor:hover .fa-github {
    color: #000000;
}

/* .anchor:hover .fa-hashnode {
    color: #3b5998;
} */

.anchor:hover .fa-linkedin-in {
    color: #3b5998;
}

@media (max-width: 668px) {
.anchor {
        display: flex;
        background: #09172b;
        height: 3rem;
        width: 3rem;
        margin-left: 15px;
        border-radius: 8px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
            -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
        border: 1px solid rgba(0, 0, 0, 0);
        transition: transform 0.5s;
    }

    .anchor i{
        font-size: 1.5rem;
    }
    .anchor .fa-quora {
            color: #f14843;
    }
    
        .anchor .fa-twitter {
            color: #00acee;
        }
    
        .anchor .fa-github {
            color: #000000;
        }
    
        /* .anchor .fa-hashnode {
            color: #3b5998;
        } */
    
        .anchor .fa-linkedin-in {
            color: #3b5998;
        }
}